/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
------
General
------
*/

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #0074b8;
}

p a {
	color: #0074b8;
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-linear-gradient(left, currentcolor 0%, currentcolor 100%);
	background-image: -o-linear-gradient(left, currentcolor 0%, currentcolor 100%);
	background-image: linear-gradient(to right, currentcolor 0%, currentcolor 100%);
	background-position: 0px 100%;
	background-repeat: repeat-x;
	background-size: 100% 1px;
	box-sizing: border-box;
	color: rgb(0, 116, 184);
	cursor: auto;
}


/* 
------
Header
------
*/


.nav {
	background-color: white;
	border-bottom: 1px solid #efefef;
	height: 100px;
	
}

.identity {
	font-size: 30px;
	font-family: "Lato";
	font-weight: 900;
	margin: 30px 20px 20px 20px;
	float: left;
}

.nav_container {
	font-family: Lato;
	font-size: 20px;
	font-weight: 900;
	padding-top: 10px;
	margin: 30px 30px 20px 20px;
	float: right;
}
.nav_item {
	font-family: Libre Baskerville;
	font-weight: normal;
	font-size: 15px;
	float: left;
	margin-left: 40px;
	border-left: 1px solid gray;
	padding: 5px 0 5px 35px;

}
.nav_item_first {
	font-family: Libre Baskerville;
	font-weight: normal;
	font-size: 15px;
	float: left;
	margin-left: 40px;
	border-left: none;
	padding: 5px 0 5px 33px;

}
.nav_button {
	display: none;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	margin: 45px 20px 0 0;
}

@media screen and (max-width: 815px) {
    .nav_container {
    	display: none;
    	width: 100%;
    }
    .nav_button {
    	display: block;
    	float: right;
    }
	.show_nav li {
		display:block;
		border: none;
		float: none;
		width: 100%;
	}
	.show_nav {
	display:block;
	margin-top: 20px;
	}
}	




/* 
------
Content
------
*/

.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	padding: 90px 1.4rem;
	font-family: Libre Baskerville;

}
.width-710 {
	max-width:710px;
}

.width-960 {
	max-width:960px;
}

.intro {
	font-size: 20px;
	line-height: 40px;
}
.thumb {
	float: left;
	margin-right: 30px;
}
.supporting {
	font-size: 18px;
	line-height: 36px;
}



.entry-header-about {
    background-color: #232323;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    height: 605px;
    background-image: url(https://mwwglobe.files.wordpress.com/2013/03/14098446975_214a8c2276_k.jpg?w=2000&h=1500&crop=1);
    
}

.entry-header-chasing-bayla {
    background-color: #232323;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    height: 605px;
    background-image: url(https://mwwglobe.files.wordpress.com/2015/08/screen-shot-2015-08-08-at-5-10-46-pm.png?w=1378&h=620&crop=1);
    
}


.entry-header-tablet {
    background-color: #232323;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    height: 605px;
    background-image: url(https://mwwglobe.files.wordpress.com/2015/08/sports.png?w=1378&h=620&crop=1);
    
}



.entry-headline {
	font-family: Playfair Display;
	font-weight: 700;
	color: white;
	font-size: 60px;
	z-index: 2000;
	margin: 0 auto;
	padding-top: 450px;
	max-width: 710px;
	margin-top: 0;
	transition-property: margin-top;
    transition-duration: 0.5s;
}

.portfolio-headline {
	font-family: Playfair Display;
	font-weight: 700;
	color: black;
	font-size: 37px;
	margin-bottom: 30px;
}

.portfolio-entry {
	line-height: 32px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #efefef;
}

.portfolio-thumb {
	float: right;
	margin-left: 20px;
}

.supporting-link {
	margin-top: 10px;
}

.down-arrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	transition-property: opacity;
    transition-duration: 0.5s;
    margin-top: 30px;
}

.down {
	margin-top: 10px;
}

.disappear {
	opacity: 0;
}






